{% extends 'base.html' %}

{% block title %} {{ user_1.username }} | {{ user_2.username }} {% endblock title %}

{% block page_content %}
    <div class="page-header text-center">
        <h1>Comparison of {{ user_1.username }} and {{ user_2.username }} interests</h1>
    </div>

    <div class="col-md-offset-3 col-md-6">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Genre</th>
                        <th>{{ user_1.username }}</th>
                        <th>{{ user_2.username }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for col in columns %}
                        {% if col.key != 'user_id' and col.key != 'id' %}
                            <tr>
                                <th>{{ col.key }}</th>
                                <th>{{ user_1.interest.__dict__[col.key] }}</th>
                                <th>{{ user_2.interest.__dict__[col.key] }}</th>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock page_content %}