{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Poll {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/poll.css') }}">
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock styles %}

{% block page_content %}
    <div class="page-header text-center">
        <h1>Tell me about your interest</h1>
    </div>
    <div class="col-md-offset-3 col-md-6 text-center">
        <!--{{ wtf.quick_form(form) }}-->
        <form action="{{ url_for('main.poll') }}" method="POST" class="form" role="form">
            {{ form.csrf_token }}
            {% for field in form if field.widget.input_type != 'hidden' %}
                {% if field.name != 'submit' %}
                    <h2>{{ field.name | safe }}</h2>
                    {{ field }}
                {% else %}
                    {{ field(class_='btn btn-primary') }}
            {% endif %}
                <br>
            {% endfor %}
            <br>
        </form>
    </div>

    <!--<h2>Action</h2>-->
    <!--<fieldset class="rating" id="#action">-->
        <!--<input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>-->
        <!--<input type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>-->
        <!--<input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>-->
        <!--<input type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>-->
        <!--<input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>-->
        <!--<input type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>-->
        <!--<input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>-->
        <!--<input type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>-->
        <!--<input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>-->
        <!--<input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>-->
    <!--</fieldset>-->
{% endblock page_content %}